.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 25px;
    margin: 0px;
    background-color:  rgb(121, 121, 209);
    width: 100vw;
    position: relative;
    left: -22%;
    top: -20%;
}


.social{
    width: 50px;
    margin: 10px 0px;
}

.available{
    width: 150px;
}

.flex-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 20%;
    color: white;
    margin: 0px 20px;
}